PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/studentmart
JWT_SECRET=your_jwt_secret_key_here

IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id

# Gmail SMTP Configuration for OTP
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
